[build]
builder = "nixpacks"

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10
startCommand = "gunicorn app:app --workers 2 --threads 4 --bind 0.0.0.0:$PORT"
